.Maker-card{
    width: 250px;
    height: 500px;
    margin-top: 18px;
    border: 1px solid rgb(222, 218, 218);    
    text-align: center;
    text-decoration: none;
}

.maker-container {
    display: flex;              
    flex-wrap: wrap;            
    gap: 50px;             
 
}

.maker-image{
    height: auto;
    width: 200px;
}

.maker-product-name{
    font-size: 17px;
    text-decoration-line: none;
    color: black;

}

.maker-price{
    color: red;
    font-size: 25px;
}

.maker-maker{
    text-decoration: none;
}

.card-maker{
    text-decoration: none;

}

