.card{
    
    width: 250px;
    height: 500px;
    border-style: none;
    margin-top: 18px;
    border-style: inset;    
    text-align: center;
    text-decoration: none;

}

.card-container {
    display: flex;              
    flex-wrap: wrap;            
    gap: 50px;             
 
}

.card-image{
    height: auto;
    width: 200px;
}

.card-product-name{
    font-size: 23px;
    text-decoration-line: none;
    color: black;

}

.card-price{
    color: red;
    font-size: 25px;
}

.card-detail{
    text-decoration: none;

}



